@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

/* about media queries starts*/
@media screen and (max-width: 50px) {
  .about .row .image {
    position: relative;
    margin-top: 5rem;
  }

  .about .row .image .tilt {
    margin-top: 0 auto;
    width: 100px;
    height: 300px;
    mix-blend-mode: normal;
    object-fit: cover;
  }

  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }

  .about .row .content {
    padding: 1rem;
  }

  .about .row .content .box-container {
    gap: 0;
  }

}
.about{
  background-color: #1E1E1E;
}
.about .heading{
  position: relative;
  margin-top: 20px;
  color: #D0D4D9;
}
.row{
  position: relative;
  margin-top: 100px;
  display: flex;
}
.about .heading > span{
  color: #C71585;
}
.tilt {
  height: 600px;
  
}
.about .row .content .heading {
  display: flex;
  align-items: start;
  justify-self: center;
  margin-left: 30rem;
}

.about .row .content .heading > i{
  padding-top: 0.5rem;
  margin-right: 15px;
}
.about .row .content .heading span{
  padding-top: 0.1rem;
  margin-left: 1rem;
}
.about .row .content > h3{
  font-size: 2.5rem;
  margin-left: 10rem;
  color: #D0D4D9;
}
.about .row .content > span{
  font-size: 1.8rem;
  margin-left: 10rem;
  color: #D0D4D9;
}
.about .row .content > p{
  font-size: 1.5rem;
  margin-left: 10rem;
  color: #D0D4D9;
}


.about .content .box-container .box span{
  font-size: 2rem;
  margin-left: 10rem;
  color: #C71585;
  font-weight: 700;
}
.about .content .box-container .box{
  font-size: 1.8rem;
  color: #D0D4D9;
}
/* about media queries ends*/
/* about section ends */


